<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">New Auto Lot Issue Method</h1>
      <p class="mt-2 text-sm text-gray-700">Create a new auto lot issue method.</p>
    </div>
  </div>

  <div class="mt-8">
    <%= render 'form', auto_lot_issue_method: @auto_lot_issue_method %>
  </div>
</div> 