<div class="bg-white shadow-sm rounded-lg">
  <div class="px-4 py-5 sm:px-6 border-b border-gray-200">
    <h3 class="text-lg font-medium leading-6 text-gray-900">New Sales Order</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Create a new sales order in your system.</p>
  </div>

  <div class="px-4 py-5 sm:p-6">
    <%= render 'form', sales_order: @sales_order %>
  </div>
</div>
